@model IEnumerable<LilChef.Data.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="recipe-card">
        <h1>
            @Html.DisplayFor(modelItem => item.RecipeName)
        </h1>

        <p class="description">@Html.DisplayFor(model => item.Description)</p>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HasGluten)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.HasGluten)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HasNuts)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.HasNuts)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HasEggs)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.HasEggs)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HasSoy)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.HasSoy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HasDairy)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.HasDairy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsVegan)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.IsVegan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsVegetarian)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.IsVegetarian)
            </dd>
        </dl>
        <a>@Html.ActionLink("Details", "Details", new { id = item.RecipeId })</a>
    </div>
}


<style>
    .recipe-card {
        flex-wrap: wrap;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 300px;
        min-height: 375px;
        max-height: 450px;
        margin: auto;
        text-align: center;
        font-family: arial;

    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .recipe-card button:hover {
        opacity: 0.7;
    }
</style>
