@model LilChef.Data.CookingMethod

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="details">
    <h4>CookingMethod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CookingMethodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookingMethodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CookingMethodId }) |
    @Html.ActionLink("Back to List", "Index")
</p>